<ion-view class="welcome-view" hide-nav-bar="true" cache-view="false" title="Login" style="background: url(img/login_img.jpg) no-repeat center;opacity:0.9;background-size:cover;" >
    <ion-content scroll=" false " " class="has-header">
    <div class="bottom-content row">
        <div class="col col-bottom" style="margin: 0px auto">

            <!-- <h2 style="text-align:center;color:#fff;"> LOGIN </h2> -->

            <a class="google-sign-in button button-block icon-left ion-social-google" ng-click="helloLogin('google')" type="submit">
                <span class="btn-copy">Google</span>
            </a>
            <!--  <a class="facebook-sign-in button button-block icon-left ion-social-facebook" ng-click="helloLogin('facebook')">
                    <span class="btn-copy">Facebook</span>
                </a>
                <a class="twitter-sign-in button button-block icon-left ion-social-twitter" ng-click="helloLogin('twitter')">
                    <span class="btn-copy">Twitter</span>
                </a> -->
            <!-- <div class="row split-actions">
                    <div class="col">
                        <a ui-sref="login" class="button button-stable button-block ">Sign In</a>
                    </div>
                </div> -->
        </div>
    </div>
    </ion-content>
</ion-view>
