.welcome-view .top-content {
    height: 80%
}

.welcome-view .top-content .app-copy {
    text-align: center;
    padding-top: 10vh
}

.welcome-view .top-content .app-logo {
    font-size: 50px;
    font-family: cursive;
    font-weight: 600;
    font-style: italic;
    color: #FFF
}

.welcome-view .bottom-content {
    height: 80%
}

.welcome-view .bottom-content .facebook-sign-in,
.welcome-view .bottom-content .google-sign-in,
.welcome-view .bottom-content .twitter-sign-in {
    color: #FFF;
    font-size: 18px;
    font-weight: 500
}

.welcome-view .bottom-content .facebook-sign-in:before,
.welcome-view .bottom-content .google-sign-in:before,
.welcome-view .bottom-content .twitter-sign-in:before {
    width: 30px;
    text-align: center;
    font-size: 32px
}

.welcome-view .bottom-content .facebook-sign-in .btn-copy,
.welcome-view .bottom-content .google-sign-in .btn-copy,
.welcome-view .bottom-content .twitter-sign-in .btn-copy {
    margin-left: -30px
}

.welcome-view .bottom-content .google-sign-in {
    background-color: #dd4c39;
    border-color: rgba(220, 68, 48, .9)
}

.welcome-view .bottom-content .facebook-sign-in {
    background-color: #294886;
    border-color: rgba(39, 68, 126, .9)
}

.welcome-view .bottom-content .twitter-sign-in {
    background-color: #00a3dc;
    border-color: rgba(0, 155, 210, .9)
}

.welcome-view .bottom-content .split-actions {
    padding: 0
}

.welcome-view .bottom-content .split-actions .col {
    padding-top: 0;
    padding-bottom: 0
}

.welcome-view .bottom-content .split-actions .col:first-child {
    padding-left: 0
}

.welcome-view .bottom-content .split-actions .col:last-child {
    padding-right: 0
}

.welcome-view .bottom-content .split-actions .button-outline {
    color: #FFF;
    border-color: #FFF;
    font-weight: 500
}

.welcome-view .bottom-content .other-options-outer .ng-cloak,
.welcome-view .bottom-content .other-options-outer .x-ng-cloak,
.welcome-view .bottom-content .other-options-outer [data-ng-cloak],
.welcome-view .bottom-content .other-options-outer [ng-cloak],
.welcome-view .bottom-content .other-options-outer [ng\:cloak],
.welcome-view .bottom-content .other-options-outer [x-ng-cloak] {
    display: none!important
}
