<ion-modal-view>
    <ion-content class="header-background">
        <ion-header-bar align-title="center">
            <h1 class="title" style="color:#fff;">{{ currentItem.name }}</h1>
            <button class="button button-clear button-icon icon ion-android-close" ng-click="closeView()" style="color:#FFF;"></button>
        </ion-header-bar>
        <form>
            <div class="product-header" style="background: url({{myHost+currentItem.image}}.jpg) no-repeat; background-size: cover;">
                <!-- <h2 class="product-name">{{ currentItem.name }}</h2> -->
                <div class="product-name">
                    <!-- <span>Quantity</span> -->
                    <i class="icon ion-ios-minus-outline" ng-click="qtyChange(-1)"></i> &nbsp; {{qty}} &nbsp;
                    <i class="icon ion-ios-plus-outline" ng-click="qtyChange(1)"></i>
                   <!--  <span class="button button-clear icon ion-ios-minus-outline" ng-click="qtyChange(-1)">   </span>
                    <span style="color: red;">  {{qty}} </span>
                    <span class="button button-clear icon ion-ios-plus-outline" ng-click="qtyChange(1)">   </span> -->
                </div>
                <div class="product-price">Price : &#8377 {{currentItem.price}}.00</div>

                <!-- <div class="item item-input item-select product-name1">

                    <div class="input-label" style="color: #fff;font-size:18px;">Sub Items</div>
                    <select ng-model="selectedSubitem" ng-change="selectSubitem(currentItem.productSubitems,selectedSubitem)" class="ion-input-select subitem">
                        <option value="0">None </option>
                        <option ng-repeat="subitem in currentItem.productSubitems" value="{{subitem.productSubitemId}}" style="color:#FFF;"> {{subitem.name}} (&#8377 {{subitem.deltaPrice}})</option>
                    </select>
                </div> -->

                <!-- <div class="product-like">
                     <button class="button button-clear" ng-click="doLike()">
                        <i class="ion-heart"></i>
                    </button>
                </div> -->
            </div>
            <div class="product-body">
                <div class="product-info">
                    {{currentItem.description}}
                </div>
                <!--  <div class="product-quantity">
                    <label class="item item-input">
                        <input type="text" placeholder="Enter Quantity Here...">
                    </label>
                </div> -->
               <div class="item item-input item-select">
                    <div class="input-label" style="color: green;">Sub Items</div>
                    <select ng-model="selectedSubitem" ng-change="selectSubitem(currentItem.productSubitems,selectedSubitem)" class="ion-input-select">
                        <option value="0">None </option>
                        <option ng-repeat="subitem in currentItem.productSubitems" value="{{subitem.productSubitemId}}"> {{subitem.name}} (&#8377 {{subitem.deltaPrice}})</option>
                    </select>
                </div>
                <!-- <div class="item">
                    <span>Quantity</span>
                    <span class="button button-clear icon ion-ios-minus-outline" ng-click="qtyChange(-1)">   </span>
                    <span style="color: red;">  {{qty}} </span>
                    <span class="button button-clear icon ion-ios-plus-outline" ng-click="qtyChange(1)">   </span>
                </div> -->
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Date</span>
                        <input type="date" class=" ion-input-select" ng-change="sendDate(date.value)" ng-model="date.value" min="{{date.currentDate | date: 'yyyy-MM-dd'}}" />
                    </label>
                </div>

                <div class="item item-input item-select">
                        <div class="input-label" style="color: green;">Time</div>
                        <select ng-model="selectedTimeSlot" class="ion-input-select">
                            <option ng-repeat="slot in tempSlots" value="{{slot}}"> {{slot}}</option>
                        </select>
                    </div>

                <div class="add-to-cart">
                    <button class="button button-block button-balanced" ng-click="addTocart(currentItem,selectedSubitem,selectedTimeSlot,date.value,qty)">
                        Add to Cart &#8377 {{qty*(currentItem.price-0) + (subItemPrice-0)|number}}
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
