@media (max-width: 567px) {
    .responsive-sm {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .responsive-sm .col,
    .responsive-sm .col-10,
    .responsive-sm .col-20,
    .responsive-sm .col-25,
    .responsive-sm .col-33,
    .responsive-sm .col-34,
    .responsive-sm .col-50,
    .responsive-sm .col-66,
    .responsive-sm .col-67,
    .responsive-sm .col-75,
    .responsive-sm .col-80,
    .responsive-sm .col-90 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-bottom: 0;
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .responsive-md {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .responsive-md .col,
    .responsive-md .col-10,
    .responsive-md .col-20,
    .responsive-md .col-25,
    .responsive-md .col-33,
    .responsive-md .col-34,
    .responsive-md .col-50,
    .responsive-md .col-66,
    .responsive-md .col-67,
    .responsive-md .col-75,
    .responsive-md .col-80,
    .responsive-md .col-90 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-bottom: 0;
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .responsive-lg {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .responsive-lg .col,
    .responsive-lg .col-10,
    .responsive-lg .col-20,
    .responsive-lg .col-25,
    .responsive-lg .col-33,
    .responsive-lg .col-34,
    .responsive-lg .col-50,
    .responsive-lg .col-66,
    .responsive-lg .col-67,
    .responsive-lg .col-75,
    .responsive-lg .col-80,
    .responsive-lg .col-90 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-bottom: 0;
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }
}


/**
 * Utility Classes
 * --------------------------------------------------
 */

.hide {
    display: none;
}

.opacity-hide {
    opacity: 0;
}

.grade-b .opacity-hide,
.grade-c .opacity-hide {
    opacity: 1;
    display: none;
}

.show {
    display: block;
}

.opacity-show {
    opacity: 1;
}

.invisible {
    visibility: hidden;
}

.keyboard-open .hide-on-keyboard-open {
    display: none;
}

.keyboard-open .tabs.hide-on-keyboard-open + .pane .has-tabs,
.keyboard-open .bar-footer.hide-on-keyboard-open + .pane .has-footer {
    bottom: 0;
}

.inline {
    display: inline-block;
}

.disable-pointer-events {
    pointer-events: none;
}

.enable-pointer-events {
    pointer-events: auto;
}

.disable-user-behavior {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    -ms-touch-action: none;
    -ms-content-zooming: none;
}

.click-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 99999;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

.click-block-hide {
    -webkit-transform: translate3d(-9999px, 0, 0);
    transform: translate3d(-9999px, 0, 0);
}

.no-resize {
    resize: none;
}

.block {
    display: block;
    clear: both;
}

.block:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
}

.full-image {
    width: 100%;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}


/**
 * Content Padding
 * --------------------------------------------------
 */

.padding {
    padding: 10px;
}

.padding-top,
.padding-vertical {
    padding-top: 10px;
}

.padding-right,
.padding-horizontal {
    padding-right: 10px;
}

.padding-bottom,
.padding-vertical {
    padding-bottom: 10px;
}

.padding-left,
.padding-horizontal {
    padding-left: 10px;
}


/**
 * Scrollable iFrames
 * --------------------------------------------------
 */

.iframe-wrapper {
    position: fixed;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
}

.iframe-wrapper iframe {
    height: 100%;
    width: 100%;
}


/**
 * Rounded
 * --------------------------------------------------
 */

.rounded {
    border-radius: 4px;
}


/**
 * Utility Colors
 * --------------------------------------------------
 * Utility colors are added to help set a naming convention. You'll
 * notice we purposely do not use words like "red" or "blue", but
 * instead have colors which represent an emotion or generic theme.
 */

.light,
a.light {
    color: #fff;
}

.light-bg {
    background-color: #fff;
}

.light-border {
    border-color: #ddd;
}

.stable,
a.stable {
    color: #f8f8f8;
}

.stable-bg {
    background-color: #f8f8f8;
}

.stable-border {
    border-color: #b2b2b2;
}

.positive,
a.positive {
    color: #f96332;
}

.positive-bg {
    background-color: #f96332;
}

.positive-border {
    border-color: #f14107;
}

.calm,
a.calm {
    color: #11c1f3;
}

.calm-bg {
    background-color: #11c1f3;
}

.calm-border {
    border-color: #0a9dc7;
}

.assertive,
a.assertive {
    color: #ef473a;
}

.assertive-bg {
    background-color: #ef473a;
}

.assertive-border {
    border-color: #e42112;
}

.balanced,
a.balanced {
    color: #33cd5f;
}

.balanced-bg {
    background-color: #33cd5f;
}

.balanced-border {
    border-color: #28a54c;
}

.energized,
a.energized {
    color: #ec5d2f;
}

.energized-bg {
    background-color: #ec5d2f;
}

.energized-border {
    border-color: #ea4b18;
}

.royal,
a.royal {
    color: #886aea;
}

.royal-bg {
    background-color: #886aea;
}

.royal-border {
    border-color: #6b46e5;
}

.dark,
a.dark {
    color: #444;
}

.dark-bg {
    background-color: #444;
}

.dark-border {
    border-color: #111;
}

[collection-repeat] {
    /* Position is set by transforms */
    left: 0 !important;
    top: 0 !important;
    position: absolute !important;
    z-index: 1;
}

.collection-repeat-container {
    position: relative;
    z-index: 1;
}

.collection-repeat-after-container {
    z-index: 0;
    display: block;
    /* when scrolling horizontally, make sure the after container doesn't take up 100% width */
}

.collection-repeat-after-container.horizontal {
    display: inline-block;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}


/**
 * Platform
 * --------------------------------------------------
 * Platform specific tweaks
 */

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 64px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
    margin-top: 19px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
}

.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs,
.platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top {
    top: 64px;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header,
.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
    top: 64px;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
    top: 108px;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header.has-tabs-top {
    top: 149px;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header.has-subheader.has-tabs-top {
    top: 193px;
}

.platform-ios.platform-cordova .popover .bar-header:not(.bar-subheader) {
    height: 44px;
}

.platform-ios.platform-cordova .popover .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
    margin-top: -1px;
}

.platform-ios.platform-cordova .popover .bar-header:not(.bar-subheader) > * {
    margin-top: 0;
}

.platform-ios.platform-cordova .popover .has-header,
.platform-ios.platform-cordova .popover .bar-subheader {
    top: 44px;
}

.platform-ios.platform-cordova .popover .has-subheader {
    top: 88px;
}

.platform-ios.platform-cordova.status-bar-hide {
    margin-bottom: 20px;
}

@media (orientation: landscape) {
    .platform-ios.platform-browser.platform-ipad {
        position: fixed;
    }
}

.platform-c:not(.enable-transitions) * {
    -webkit-transition: none !important;
    transition: none !important;
}

.slide-in-up {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.slide-in-up.ng-enter,
.slide-in-up > .ng-enter {
    -webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
    transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}

.slide-in-up.ng-enter-active,
.slide-in-up > .ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slide-in-up.ng-leave,
.slide-in-up > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}

@-webkit-keyframes scaleOut {
    from {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(0.8);
        opacity: 0;
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.8);
        opacity: 0;
    }
}

@-webkit-keyframes superScaleIn {
    from {
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes superScaleIn {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

[nav-view-transition="ios"] [nav-view="entering"],
[nav-view-transition="ios"] [nav-view="leaving"] {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-timing-function: cubic-bezier(.36, .66, .04, 1);
    transition-timing-function: cubic-bezier(.36, .66, .04, 1);
    -webkit-transition-property: opacity, -webkit-transform, box-shadow;
    transition-property: opacity, transform, box-shadow;
}

[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
    background-color: #000;
}

[nav-view-transition="ios"] [nav-view="active"],
[nav-view-transition="ios"][nav-view-direction="forward"] [nav-view="entering"],
[nav-view-transition="ios"][nav-view-direction="back"] [nav-view="leaving"] {
    z-index: 3;
}

[nav-view-transition="ios"][nav-view-direction="back"] [nav-view="entering"],
[nav-view-transition="ios"][nav-view-direction="forward"] [nav-view="leaving"] {
    z-index: 2;
}

[nav-bar-transition="ios"] .title,
[nav-bar-transition="ios"] .buttons,
[nav-bar-transition="ios"] .back-text {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-timing-function: cubic-bezier(.36, .66, .04, 1);
    transition-timing-function: cubic-bezier(.36, .66, .04, 1);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
}

[nav-bar-transition="ios"] [nav-bar="active"],
[nav-bar-transition="ios"] [nav-bar="entering"] {
    z-index: 10;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar,
[nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: transparent;
}

[nav-bar-transition="ios"] [nav-bar="cached"] {
    display: block;
}

[nav-bar-transition="ios"] [nav-bar="cached"] .header-item {
    display: none;
}

[nav-view-transition="android"] [nav-view="entering"],
[nav-view-transition="android"] [nav-view="leaving"] {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

[nav-view-transition="android"] [nav-view="active"],
[nav-view-transition="android"][nav-view-direction="forward"] [nav-view="entering"],
[nav-view-transition="android"][nav-view-direction="back"] [nav-view="leaving"] {
    z-index: 3;
}

[nav-view-transition="android"][nav-view-direction="back"] [nav-view="entering"],
[nav-view-transition="android"][nav-view-direction="forward"] [nav-view="leaving"] {
    z-index: 2;
}

[nav-bar-transition="android"] .title,
[nav-bar-transition="android"] .buttons {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

[nav-bar-transition="android"] [nav-bar="active"],
[nav-bar-transition="android"] [nav-bar="entering"] {
    z-index: 10;
}

[nav-bar-transition="android"] [nav-bar="active"] .bar,
[nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background: transparent;
}

[nav-bar-transition="android"] [nav-bar="cached"] {
    display: block;
}

[nav-bar-transition="android"] [nav-bar="cached"] .header-item {
    display: none;
}

[nav-swipe="fast"] [nav-view],
[nav-swipe="fast"] .title,
[nav-swipe="fast"] .buttons,
[nav-swipe="fast"] .back-text {
    -webkit-transition-duration: 50ms;
    transition-duration: 50ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

[nav-swipe="slow"] [nav-view],
[nav-swipe="slow"] .title,
[nav-swipe="slow"] .buttons,
[nav-swipe="slow"] .back-text {
    -webkit-transition-duration: 160ms;
    transition-duration: 160ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

[nav-view="cached"],
[nav-bar="cached"] {
    display: none;
}

[nav-view="stage"] {
    opacity: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}

[nav-bar="stage"] .title,
[nav-bar="stage"] .buttons,
[nav-bar="stage"] .back-text {
    position: absolute;
    opacity: 0;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

h1,
.h1 {
    font-size: 2.76923em;
}

h2,
.h2 {
    font-size: 2.30769em;
}

h3,
.h3 {
    font-size: 1.84615em;
}

h4,
.h4 {
    font-size: 1.38462em;
}

h5,
.h5 {
    font-size: 1.07692em;
}

h6,
.h6 {
    font-size: 0.92308em;
}

h1 small,
.h1 small {
    font-size: 1.84615em;
}

h2 small,
.h2 small {
    font-size: 1.38462em;
}

h3 small,
.h3 small,
h4 small,
.h4 small {
    font-size: 1.07692em;
}

input::-webkit-input-placeholder {
    color: #fff;
}

.icon {
    margin-right: 5px;
}

.bar-header {
    border-bottom: 0;
}


/*.bar.bar-stable .title, .bar-stable .button.button-clear {
  color: #fff; }*/

.full-page-bckg .scroll {
    min-height: 100%;
    background-image: -webkit-linear-gradient(top, #f96332 0%, #000 100%);
    background-image: -o-linear-gradient(top, #f96332 0%, #000 100%);
    background-image: linear-gradient(to bottom, #f96332 0%, #000 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFF96332', endColorstr='#FF000000', GradientType=0);
    position: relative;
}

.full-page-bckg .scroll:after {
    content: "";
    background: url(../img/login-bg.png) no-repeat center top;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.menu .full-page-bckg .list {
    padding-top: 20px;
}

.menu .full-page-bckg .scroll:after {
    opacity: 0.3;
    right: -10px;
    left: -10px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


/*.item, .list-inset, .item-complex .item-content, .item-radio .item-content {
  background: none;
  border: none; }
*/

.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated {
    background: none;
}

.item.logo-big {
    text-align: center;
    background-color: transparent !important;
    border-color: transparent !important;
}

.item.logo-big img {
    margin: 60px 0;
    width: 50%;
    height: auto;
}

.item.logo-big h1 {
    margin: 50px 0 200px;
    font-size: 1.53846em;
    text-transform: uppercase;
    color: #fff;
}

.item-next {
    padding: 15px 20px;
    text-align: center;
    background: #f2f2f2;
}

.ion-item .item-next .next-story {
    font-size: 0.84615em;
    opacity: 0.4;
    text-transform: uppercase;
    padding: 25px 0;
}

.item-next-icon {
    font-size: 3.07692em;
    color: #f96332;
    padding: 25px 0;
    display: block;
}

.invision-form {
    color: #fff;
}


/*.menu .item-content {
  color: #fff;
  text-transform: uppercase; }
*/

.menu .item-complex .item-content,
.menu .item-radio .item-content {
    padding: 15px 30px;
}

.menu .placeholder-icon {
    float: left;
    width: 50px;
}

.invision-form a {
    color: #fff;
    text-decoration: none;
}

.invision-form .list-inset {
    margin-top: 0;
}

.list-inset .item-input,
.item-input textarea {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
}

.list-inset .item-input {
    margin-bottom: 20px;
    padding-left: 25px;
}

.form-button {
    padding: 0;
    background-color: transparent !important;
    border-color: transparent !important;
}

.button.button-primary {
    background: #f96332;
    color: #fff;
    border: 0;
    border-radius: 50px;
    /*background-color: transparent !important;*/
}

.button.button-light {
    background: transparent;
    color: #fff;
    border: solid 1px #7d746c;
    border-radius: 50px;
}

.button.button-light:hover,
.button.button-light.activated {
    background: transparent;
    color: #fff;
}

.form-button .button {
    margin: 0;
    padding: 0;
}

.placeholder-icon {
    color: #fff;
    font-size: 1.69231em;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    /*color: #fff;*/
    padding-left: 20px;
    font-weight: normal;
}

.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6,
.item p,
.item-content,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6,
.item-content p,
blockquote {
    text-overflow: initial;
    white-space: normal;
    color: #000;
}

.item-content em {
    font-style: italic;
}

.ion-item.item {
    padding: 0;
}

.item-image {
    position: relative;
}

.item-image:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(top, transparent 60%, #000 100%);
    background-image: -o-linear-gradient(top, transparent 60%, #000 100%);
    background-image: linear-gradient(to bottom, transparent 60%, #000 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0);
    opacity: 0.7;
    z-index: 1;
}

.item-image h1 {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 15px;
    color: #fff;
    font-size: 1.38462em;
    line-height: 25px;
    text-align: left;
    z-index: 2;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.item-image.featured-article h1 {
    bottom: 20px;
}

.item-image.featured-article .item-tools {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: left;
    z-index: 2;
}

.item-content {
    padding: 20px 0;
}

.item-content.article-content p,
.item-content.article-content blockquote {
    margin: 0 20px 26px;
    font-size: 1.07692em;
    line-height: 2em;
}

.item-content.article-content h1,
.item-content.article-content h2,
.item-content.article-content h3,
.item-content.article-content h4,
.item-content.article-content h5,
.item-content.article-content h6 {
    margin-left: 20px;
    margin-right: 20px;
    color: #ec5d2f;
}

.item-content.article-content img {
    max-width: 100%;
    height: auto;
}

.modal .item {
    border-bottom: solid 1px #ddd;
    background: #fff;
}

.modal .item-content {
    padding: 16px 49px 16px 16px;
}

.item-tools {
    padding: 0 20px 20px;
    line-height: 2em;
}

.item-tools .col {
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-tools .col {
    padding: 0;
}

.item-tools .icon {
    color: #b2b2b2;
}

.item-category a {
    color: #000;
    text-decoration: none;
    line-height: 2em;
    position: relative;
    display: inline-block;
}

.item-category a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #b2b2b2;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.invision-form .form-button {
    margin-bottom: 10px;
}

.invision-form .form-links {
    margin-bottom: 20px;
}

.invision-form .form-links a {
    font-size: 0.84615em;
    opacity: 0.5;
}

.menu-content {
    box-shadow: none;
}

blockquote {
    color: #f96332;
    border-left-color: #f96332;
    padding: 0 20px;
}

.category-items .item-content {
    padding: 0;
}

.category-items .item h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    text-align: left;
    z-index: 2;
}

.tab-item.tab-item-active .tab-title,
.tab-item.active .tab-title,
.tab-item.activated .tab-title {
    border: solid 1px rgba(255, 255, 255, 0.5);
    padding: 7px 15px;
    border-radius: 50px;
}

.tab-item {
    opacity: 1;
}

.list-inset {
    overflow: hidden;
    margin: 20px 10px;
    /* border-radius: 2px; */
    background-color: transparent !important;
}

.socialloging {
    /*background-color: #333 !important;*/
    background-color: #dd4c39;
    border-color: rgba(220, 68, 48, .9);
}

.socialloginf {
    /*background-color: #333 !important;*/
    background-color: #294886;
    border-color: rgba(39, 68, 126, .9);
}

.socialloging:hover {
    color: #FFF !important;
    background-color: #dd4c39 !important;
}

.socialloginf:hover {
    color: #FFF !important;
    background-color: #294886 !important;
}

.sociallogint {
    background-color: #00a3dc;
    border-color: rgba(0, 155, 210, .9);
}

.sociallogint:hover {
    color: #FFF !important;
    background-color: #00a3dc !important;
}
