<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content class="full-page-bckg">
        <form ng-submit="loginCtrl.doLogin()" class="invision-form">
            <div class="list list-inset">
                <div class="item logo-big">
                    <img src="img/logo7.png" alt="logo" />
                </div>
                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input">
                    <i class="icon ion-lock-combination placeholder-icon"></i>
                    <input type="password" placeholder="Password">
                </label>
                <label class="item form-button">
                    <button class="button button-block button-primary" type="submit">Log in</button>
                </label>
                <!-- <div class="row form-links">
                    <div class="col"><a data-ui-sref="app.register">Create Account</a></div>
                    <div class="col right-align"><a data-ui-sref="app.help">Need Help?</a></div>
                </div> -->
                <div class="row">
                      <div class="col col-50">
                        <a class="google-sign-in button button-block icon-left ion-social-google socialloging" ng-click="helloLogin('google')">
                            <span class="">Google</span>
                        </a>
                      </div>
                      <div class="col col-50">
                        <a class="facebook-sign-in button button-block icon-left ion-social-facebook socialloginf" ng-click="helloLogin('facebook')">
                             <span class="">Facebook</span>
                        </a>
                      </div>
                </div>
                <div class="row">
                      <div class="col">
                        <a class="twitter-sign-in button button-block icon-left ion-social-twitter sociallogint" ng-click="helloLogin('twitter')">
                            <span class="">Twitter</span>
                        </a>
                      </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
