<ion-view view-title="Issue">
    <ion-content style="background-image: url(img/app-b.jpg)">
        
        <div class="list card" ng-if="listOfQuestion.userinputs[7].filedInputValue">
            <div class="item item-body">
                <img src="{{centralServer}}{{listOfQuestion.userinputs[7].filedInputValue}}" style="width=300px;height:300px;" alt="image if available"></img>
            </div>
        </div>
        <div class="list ">
            <div class=" " ng-repeat="citem in listOfQuestion.userinputs track by $index" ng-hide="{{citem.fieldName === 'Issue picture'}}">
                <div class="{{ (citem.fieldType === 'Date' || (citem.fieldType === 'Text' )  &&  (citem.fieldName != 'Issue picture' ) )? 'ng-show' : 'ng-hide' }} myinput" >
                    <label class="item item-input item-floating-label">
                        <span class="input-label">{{citem.fieldName}}  </span>
                        <input  type="{{citem.fieldType}}" ng-model="citem.filedInputValue" placeholder="{{citem.fieldName}}" 
                        ng-disabled="{{citem.fieldName === 'Timestamp'}}"  />
                    </label>
                </div>
                <div class="{{ (citem.fieldType === 'Options'  )? 'ng-show' : 'ng-hide' }} " >
                <div class="{{ ( (citem.fieldName == 'Status') && isStatusInQuestion ) ? 'ng-hide' : 'ng-show' }}" >
                    <label class="item item-input item-select">
                        <div class="input-label">
                            {{citem.fieldName}} 

                            

                        </div>
                        <select class="item-input" ng-model="citem.filedInputValue" ng-change="changedDropDown($index)">
                            <!-- <option ng-repeat="optionsItems in citem.fieldAdditionalInfo track by $index" {{(optionsItems.optName==c item.filedInputValue) ? 'selected' : '' ;}} value="{{optionsItems.optName}}">{{optionsItems.optName}} {{(optionsItems.optName == citem.filedInputValue) ? 'selected' : '' ;}} </option> -->
                            <option ng-repeat="optionsItems in citem.fieldAdditionalInfo track by $index" ng-selected=" ( ( optionsItems.optName==citem.filedInputValue) || (optionsItems.optName == citem.defaultSelected) ) ? 'selected' : '' ;" value="{{optionsItems.optName}}"> {{optionsItems.optName}} </option>
                        </select>
                    </label>
                    </div>
                </div>
            </div>
        </div>
        <!--  <div class="item item-body" ng-repeat="itemDesc in citem.descList track by $index">
                <span class="labelStyleLeft">{{itemDesc.label}}</span> : {{itemDesc.value}}
            </div> -->
        <div class="{{ (citem.fieldName === 'photograph' )? 'ng-show' : 'ng-hide' }}" {{citem.fieldName==='photograph' ? 'imgURI = citem.filedInputValue' : '' }}>
            <img src="{{imgURI}}" style="width=300px;height:300px;" alt="image should be bou nd here "></img>
        </div>
        <div class="list card" ng-if="imgURI">
            <div class="item item-body">
                <img src="{{imgURI}}" ng-if="imgURI" style="width=300px;height:300px;" alt="image should be bou nd here "></img>
            </div>
        </div>
        <div class="col text-center">
            <button class="button  button-large button-app" ng-click="takePicture()">Picture</button>
            <button class="button  button-large button-app" ng-click="uploadPicture()">Browse</button>
            <button class="button  button-large  button-app" ng-click=submitResponses() ng-disabled="submitDisabled">Submit</button>
        </div>
    </ion-content>
</ion-view>
