.TabTheme1 {
    font-size: 22px;
    border-radius: 2px;
    background-color: rgba(237, 48, 51, 0.3);
    color: white;
}

.TabTheme1:hover {
    background-color: rgba(237, 48, 51, 0.3);
    color: white;
}

.TabTheme2 {
    font-size: 22px;
    border-radius: 2px;
    background-color: rgba(0, 111, 52, 0.3);
    color: white;
}

.TabTheme2:hover {
    background-color: rgba(0, 111, 52, 0.3);
    color: white;
}

.TabTheme3 {
    font-size: 22px;
    border-radius: 2px;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.5);
}

.TabTheme3:hover {
    color: yellow;
    !important background-color: rgba(0, 0, 0, 0.5);
}

.TabTheme4 {
    font-size: 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    color: Lime;
}

.TabTheme4:hover {
    background-color: black;
    color: Lime;
    opacity: 0.5;
}

.TextTheme4 {
    background-color: transparent;
}

.TabTheme5 {
    font-size: 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    color: yellow;
}

.TabTheme5:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: yellow;
}

.TabTheme6 {
    font-size: 22px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.TabTheme6:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.ThemedContainer {
    margin: 10px;
    !important
}

.TabThemeOverAll {
    border-radius: 0 0 0 0;
    padding: 5px;
    !important
}

.viewPageDescription {
    border-radius: 0 0 0 0;
    font-size: 35px;
    font-weight: bold;
}

.hideCardColors {
    background-color: transparent;
    border-radius: 0px;
}

.gallaryThemeHeader {
    font-weight: bold;
    padding: 5px;
}


/*list type css */

.listHeader {
    font-weight: bold;
    padding: 5px;
}


/*for resgitration only */


/*.TabTheme3 */

.ng-show .item-input {
    font-weight: bold;
    background-color: transparent;
}


/*.TabTheme3*/

.ng-show.item-input input {
    font-weight: bold;
    !background-color: rgba(255, 255, 255, 0.32);
    border: 1px solid #ddd;
}
.ng-show.myinput{
    border: 1px solid #ddd;
}
