<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button> </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content  cache-view="false" has-bouncing="false" scroll="false" class="menu-outer bgimage" style="background:url(img/login_img.jpg) !important; background-repeat: no-repeat !important;background-size: cover !important;">
            <ion-list>
                <!-- <div class="item menu-iconLeft-item-avatar item-avatar ppk">
                    <img class="user-image" ng-src="img/menu.png" spinner-on-load>
                </div> -->
                <div>
                <!-- <h2 class="" style="margin:0px auto;padding:5px;color:#fff;">Airport Maintenance</h2> -->
                </div>
                <!-- <ion-item>
                   <div>
                        <p class="user-name fname">{{name}}</p> 
                        <p class="user-handle lname">{{email}}</p>
                    </div> 
                </ion-item>-->
                <br>
                <br>
                <br>
                <div class="item item-icon-left menu-iconLeft-item" nav-clear menu-close ng-click="viewSubPage(0 , '')">
                    <h2 class="menu-text menu-iconLeft-h2">New Issue</h2>
                </div>

                <div class="item item-icon-left menu-iconLeft-item" nav-clear menu-close ng-click="viewSubPage(1 , '')">
                    <h2 class="menu-text menu-iconLeft-h2">All Issues</h2>
                </div>

                <div class="item item-icon-left menu-iconLeft-item" nav-clear menu-close ng-click="viewSubPage(1 , 'Open')">
                    <h2 class="menu-text menu-iconLeft-h2">Open Issues</h2>
                </div>

                <div class="item item-icon-left menu-iconLeft-item" nav-clear menu-close ng-click="viewSubPage(1 , 'Escalation 1')">
                    <h2 class="menu-text menu-iconLeft-h2">Escalation L1</h2>
                </div>

                <div class="item item-icon-left menu-iconLeft-item" nav-clear menu-close ng-click="viewSubPage(1 , 'Escalation 2')">
                    <h2 class="menu-text menu-iconLeft-h2">Escalation L2</h2>
                </div>

                <div class="item item-icon-left menu-iconLeft-item" nav-clear menu-close ng-click="viewSubPage(1 , 'Close')">
                    <h2 class="menu-text menu-iconLeft-h2">Closed Issues</h2>
                </div>


            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
